.cont {
    .top {
        color:#FF9302;
    }

    .bottom {
        color:#F00000;
    }

    .logo {
        display:inline-block;
        width:40px;
        height:40px;
        background-image:url("../img/logo.png");
        background-size:contain;
    }
}